<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mateuyabar.android.pillow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity android:name="com.mateuyabar.android.pillow.view.forms.views.FormActivity" >
        </activity>
    </application>

</manifest>
